<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:estacionamento="http://brewer.algaworks.com">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item" estacionamento:menu="@{/}">
          			<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        		</li>
        		
        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Movimentação</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" estacionamento:menu="@{/movimentacoes.+}">
			            	<a th:href="@{/movimentacoes/novo}">Cadastro Movimentação</a>
			            </li>
			            
			            <li class="aw-menu__item  aw-menu__item--link" estacionamento:menu="@{/movimentacoes}">
			            	<a th:href="@{/movimentacoes}">Pesquisa Movimentações</a>
			            </li>
			        </ul>
			    </li>

        		<li class="aw-menu__item">
          			<a href="#">
            			<i class="fa  fa-fw  fa-database"></i><span>Cadastros</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" estacionamento:menu="@{/tarifas.*}">
			            	<a th:href="@{/tarifas}">Tarifas</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" estacionamento:menu="@{/veiculos.*}">
			            	<a th:href="@{/veiculos}">Veiculos</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" estacionamento:menu="@{/usuarios.*}">
			            	<a th:href="@{/usuarios}">Usuários</a>
			            </li>
          			</ul>
        		</li>	
        		
      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>