<script id="tabela-pesquisa-rapida-veiculo" type="text/x-handlebars-template">
<div class="table-responsive  bw-tabela-simples" style="margin-top: 15px">
	<table class="table  table-hover">
		<thead>
			<tr>
				<th class="col-sm-2">Placa</th>
				<th class="col-sm-2">Modelo</th>
			</tr>
		</thead>
				
		<tbody>
			{{#if .}}
				{{#each .}}
					<tr data-codigo="{{codigo}}" data-placa="{{placa}}" class="js-veiculo-pesquisa-rapida">
						<td>{{placa}}</td>
						<td>{{modelo}}</td>
 					</tr>
				{{/each}}
			{{else}}
				<tr>
					<td colspan="2">Nenhum veiculo encontrado</td>
				</tr>
			{{/if}}
		</tbody>
	</table>
</div>
</script>
