<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:estacionamento="http://brewer.algaworks.com">
	
<head>
	<title>Fechar Movimentação</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Fechar Movimentação</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/movimentacoes}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${movimentacao}" class="form-vertical  js-form-loading" th:action="@{/movimentacoes/fechar}">
			<estacionamento:message/>
			
			<input type="hidden" th:field="*{codigo}"/>
	
			<div class="row">			
				<div class="col-sm-2 form-group bw-required" estacionamento:classforerror="veiculo">
					<label for="veiculo" class="control-label">Veiculo</label>
					<input id="veiculo" type="text" readonly="readonly" class="form-control" th:field="*{veiculo.placa}"/>
				</div>
			</div>
            
            <div class="row">
			<div class="col-sm-3 form-group bw-required" estacionamento:classforerror="dataHoraSaida">
				<label for="dataHoraSaida" class="control-label">Data Hora Saida</label>
				<input id="dataHoraSaida" type="text" class="form-control" th:field="*{dataHoraSaida}"/>
			</div>
			</div>
			<div class="row">
			<div class="col-sm-3 form-group">
				<label for="descricao" class="control-label">Total</label>
				<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="total" type="text" readonly="readonly" class="form-control" th:field="*{total}"/>
				</div>
			</div>
			</div>


			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Fechar</button>
			</div>
	
		</form>
	</div>
	
</section>

<th:block layout:fragment="javascript-extra">

	
</th:block>
	
</body>
</html>